<launch>
  <arg name="robot_name"   default="dual_manipulator"/>
  <arg name="end_effector" default="gripper"/>

  <node name="teleop_keyboard" pkg="dual_manipulator_teleop" type="dual_manipulator_teleop_keyboard" ns="iiwa" output="screen">
    <remap from="kinematics_pose" to="$(arg end_effector)/kinematics_pose"/>
    <param name="end_effector_name" value="$(arg end_effector)"/>
  </node>
</launch>
